<!doctype html>
<html lang="en" ng-app="recommendareApp">
<head>
    <meta charset="utf-8" />
    <title>RecommenDare</title>
    <link rel="stylesheet" href="/common.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../js/controllers.js"></script>
	<script src="../main.js"></script>
</head>
<body>
    {{{body}}}
</body>
<footer>
	<div class="inner-width">
	<div class="third">
		Privacy Policy<br>
		Terms and Conditions
	</div><div class="third center">
		Recommendare
	</div><div class="third last">
		<a href="https://twitter.com/SamGB" target="_blank">Twitter</a><br>
	</div>
	</div>
</footer>
</html>